.breadcrumbs {
  @apply text-gray-500;

  ol {
    display: flex;
    padding: 0.5em 0;

    li {
      font-size: 11px;
      letter-spacing: 0.05em;
      margin: 3px 0 3px;

      &:after {
        content: '/';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }

      a {
        padding: 4px 6px;
        text-transform: uppercase;
        @apply text-gray-500;

        &:hover,
        &:focus,
        &:active {
          @apply text-white;
        }
      }
    }
  }
}
